########################
# 1) Ignore everything
########################
*
!.gitignore

########################
# 2) Allow Day folders
########################
!Day */

########################
# 3) Inside Day folders:
#    allow only Lab Apply
########################
Day */**
!Day */Lab Apply/
!Day */Lab Apply/**


# no .mp4
*.mp4




###############################
########################
# Build outputs
########################
bin/
obj/
**/bin/
**/obj/

########################
# User-specific files
########################
*.user
*.suo
*.userosscache
*.sln.docstates

########################
# IDE folders
########################
.vs/
.vscode/
.idea/

########################
# Logs & temp
########################
*.log
*.cache
*.tmp
*.temp

########################
# OS junk
########################
.DS_Store
Thumbs.db

########################
# Dependencies
########################
node_modules/

########################
# Static files (if any frontend libs)
########################
wwwroot/lib/

########################
# NuGet
########################
packages/
*.nupkg
*.snupkg

########################
# Publish output
########################
publish/
out/

########################
# Rider / ReSharper
########################
_ReSharper*/
*.DotSettings.user

########################
# VS Code test
########################
.vscode-test/

########################
# Secrets (VERY IMPORTANT)
########################
appsettings.Development.json
appsettings.*.local.json
secrets.json

########################
# Kestrel / HTTPS dev certs (optional)
########################
*.pfx
*.key